[submodule "2 курс/веб/лаба3"]
	path = 2 курс/веб/лаба3
	url = https://github.com/bilyardvmetro/WebLabs

[submodule "2 курс/веб/Lab4 Back"]
	path = 2 курс/веб/Lab4 Back
	url = https://github.com/bilyardvmetro/WebLab4Back
[submodule "2 курс/веб/Lab4 Front"]
	path = 2 курс/веб/Lab4 Front
	url = https://github.com/bilyardvmetro/WebLab4Front
[submodule "2 курс/ак/CSA-Lab4"]
	path = 2 курс/ак/CSA-Lab4
	url = https://github.com/bilyardvmetro/CSA-Lab4
[submodule "2 курс/метопты/Lab2 & Lab3"]
	path = 2 курс/метопты/Lab2 & Lab3
	url = https://github.com/bilyardvmetro/OptMethsLab2Lab3
[submodule "2 курс/метопты/Lab4"]
	path = 2 курс/метопты/Lab4
	url = https://github.com/bilyardvmetro/OptMethsLab4
[submodule "2 курс/вычмат/Lab1"]
	path = 2 курс/вычмат/Lab1
	url = https://github.com/bilyardvmetro/CompMathLab1
[submodule "2 курс/вычмат/Lab2"]
	path = 2 курс/вычмат/Lab2
	url = https://github.com/bilyardvmetro/CompMathLab2
[submodule "2 курс/вычмат/Lab3"]
	path = 2 курс/вычмат/Lab3
	url = https://github.com/bilyardvmetro/CompMathLab3
[submodule "2 курс/вычмат/Lab5"]
	path = 2 курс/вычмат/Lab5
	url = https://github.com/bilyardvmetro/CompMathLab5
[submodule "2 курс/вычмат/Lab4"]
	path = 2 курс/вычмат/Lab4
	url = https://github.com/bilyardvmetro/CompMathLab4
[submodule "2 курс/вычмат/Lab6"]
	path = 2 курс/вычмат/Lab6
	url = https://github.com/bilyardvmetro/CompMathLab6
