[submodule "2 курс/веб/лаба3"]
	path = 2 курс/веб/лаба3
	url = https://github.com/bilyardvmetro/WebLabs

[submodule "2 курс/веб/Lab4 Back"]
	path = 2 курс/веб/Lab4 Back
	url = https://github.com/bilyardvmetro/WebLab4Back
[submodule "2 курс/веб/Lab4 Front"]
	path = 2 курс/веб/Lab4 Front
	url = https://github.com/bilyardvmetro/WebLab4Front
[submodule "2 курс/ак/CSA-Lab4"]
	path = 2 курс/ак/CSA-Lab4
	url = https://github.com/bilyardvmetro/CSA-Lab4
[submodule "2 курс/метопты/Lab2 & Lab3"]
	path = 2 курс/метопты/Lab2 & Lab3
	url = https://github.com/bilyardvmetro/OptMethsLab2Lab3
[submodule "2 курс/метопты/Lab4"]
	path = 2 курс/метопты/Lab4
	url = https://github.com/bilyardvmetro/OptMethsLab4
